<!doctype html>
<html lang="fr">
    <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">

        <title>{% block title %}{% endblock %} | RECIPE</title>
        <link rel="icon" href="assets('./public/images/windows.svg')">

        <!--====================== CSS ================= -->
        {% block stylesheets %}
            {{ encore_entry_link_tags('app') }}
            <link rel="stylesheet" href="https://unicons.iconscout.com/release/v4.0.0/css/line.css">
            <link rel="stylesheet" href="https://unicons.iconscout.com/release/v4.0.0/css/solid.css">
        {% endblock %}

        
    </head>
    <body>
        <!--====================== BLOCK HEADER ================= -->
        {% block header %}
        {% include "./components/_navbar.html.twig" %}
        {% endblock %}
        <!--====================== BLOCK BODY ================= -->
        {% block body %}{% endblock %}
        <!--====================== JAVASCRIPT ================= -->
        {% block javascripts %}
            {{ encore_entry_script_tags('app') }}
        {% endblock %}
    </body>
</html>
